.navWrapper {
 display: flex;
 justify-content: space-between;
 font-size: 1.3vw;
 padding: 1vw;
 width: auto;
 height: 5.5vw;
 background-color: #000;
 box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}
  
.navText {
 width: 33.3%;
 display: flex;
 justify-content: center;
 align-items:center;          
}
  
.navText > li {
 list-style:none;
 padding: 1.7vw; 
 align-items: center;
}

.navText > li > a {
 color: white;
 font-size: 0.9vw;
 text-decoration: none;
}
  
.logo {
 width: 33.3%;
 display: flex;
 justify-content: center;
 align-items: center;
 left: 45%;
 top: 5%;
}

.logo > p > a > img {
 width: 13.8vw;
 height: 3.7vw;  
}

.navIcon{
 width: 33.3%;
 display: flex;
 justify-content: center;
 align-items:center;
}

.navIcon > li {
 justify-content: left;
 list-style:none;
 width: 2.4vw;
 height: 1.9vw;
 padding: 0.3vw;
}