*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;  
}
  
.header {
    align-items:normal;
    width: 100%;
    height: 600vh;
    background-color:rgb(255, 255, 255) ;  

}
  
.wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      padding: 15px;
      width: auto;
      height: 80px;
      background-color: #000;
      box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}
  
.navText{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 85px;               
}
  
.navText > li {
    list-style:none;
    padding: 25px; 
    align-items: center;
}

.navText > li > a {
    color: white;
    font-size: 14px;
    text-decoration: none;

}
  
.navText >li>a:hover {
    color: crimson;
    transition: all.1s ease-in-out;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45%;
    top: 5%;
  
}

.logo > p > a > img {
    width: 200px;
    height: 50px;
   
}

.navIcon{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 80px;
}

.navIcon > li {
    list-style:none;
    width: 35px;
    height: 20px;
    padding: 5px;
   }

.container{
    display: flex;
    width: auto;
    height: 1280px;
    overflow: hidden;
    border: 0px solid #000;
    border-radius: 0px;
    
}

.slideshow > img {
    width: 1535px;
    height: 1280px;
    
  }

.slideshow{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
  }
  
  @keyframes slide{
  0%{
  transform: translateX(-1%);   
  }
  25%{
  transform: translateX(-102%);   
  }
  30%{
  transform: translateX(-102%);   
  }
  50%{
  transform: translateX(-102%);   
  }
  55%{
  transform: translateX(-102%);   
  }
  75%{
  transform: translateX(-1%);   
  }
  80%{
  transform: translateX(-1%);   
  }
  100%{
  transform: translateX(-1%);   
  }
  }

.altCol{
width: auto;
height: 600px;
display: flex;
justify-content: space-between;
overflow: hidden;
}

.altWomens{
display: flex;
justify-content: center;
align-items:center;
 height: 600px;
}

.altWomens >p:hover {
    display: flex;
    justify-content: center;
    align-items:center;     
    width: 508px;
    height: 597px;
    border: 1px solid #000;
    transition: all.1s ease-in-out;
}
.altAcc{
    display: flex;
    justify-content: center;
    align-items:center;
 height: 600px;
}

.altMens{
    display: flex;
    justify-content: center;
    align-items:center;
height: 600px;
}

.sellWarp{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 30px;
    width: auto;
    height: 100px;
    background-color: #ffffff;
}

.bestSell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemsWarp{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    width: auto;
    height: 450px;
    overflow: hidden;
}

.T1{
 font-size: 16px;
 padding-right: 15%;
}

.T2{
 font-size: 19px;
 font-weight: bold;   
}

.item1 >a>img{
 width: 307px;
 height: 400px;
}

.item2 >a>img{
width: 307px;
height: 400px; 
}

.item3 >a>img{
    width: 307px;
    height: 400px; 
}

.item4 >a>img{
    width: 307px;
    height: 400px; 
}

.button-home{
    background-color: rgba(0, 0, 0, 0.521);
    border: 0.1px solid #ffffff46;
    color: #ffffff;
    width: 175px;
    height: 50px;
    font-size: 23px;
    border-radius: 4px;
    margin-top: 450px;
}

#button-Womens{
 font-size: 23px;
 display: flex;
 justify-content: center;
 align-items: center;
}

#button-Womens:hover{
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.542);
    border: 0.1px solid #000046;
    color: #000;
   }

#button-Acc{
 font-size: 23px;
 display: flex;
 justify-content: center;
 align-items: center;
}

#button-Acc:hover{
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.542);
    border: 0.1px solid #000046;
    color: #000;
}

#button-Mens{
 font-size: 23px;
 display: flex;
 justify-content: center;
 align-items: center;
}

#button-Mens:hover{
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.542);
    border: 0.1px solid #000046;
    color: #000;
   }