*, html, body {
 margin: 0;
 padding: 0;
 font-family: "Roboto", sans-serif;  
}

/* header */ 
.ContentWraper {
 align-items:normal;
 width: 100%;
 height: 430vh;
 background-color:rgb(255, 255, 255) ;  

}
  
/* end header */

/*slide show*/
.container {
 display: flex;
 width: auto;
 height: 50%;
 overflow: hidden;
 border: 0px solid #000;
 border-radius: 0px; 
}

.slideshow > img {
 width: 102%;
 height: 100%;   
}

.slideshow {
 width: 100%;
 display: flex;
 animation: slide 16s infinite;
}
  
@keyframes slide {
 0% {
  transform: translateX(-1%);   
}
 25% {
  transform: translateX(-102%);   
}
 30% {
  transform: translateX(-102%);   
}
 50% {
  transform: translateX(-102%);   
}
 55% {
  transform: translateX(-102%);   
}
 75% {
  transform: translateX(-1%);   
}
 80% {
  transform: translateX(-1%);   
}
 100%{
  transform: translateX(-1%);   
}
}

.altCol {
 display: flex;
}

.altContainer{
 transition: transform 0s ease;
 position: relative;
 max-width: 100%;
 height: auto;
 display: block;
}

.alter {
 max-width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.altContainer:hover {
 transform: scale(1);
 border: 2px solid #333;
}

.altButton {
 position: absolute;
 top: 80%;
 left: 50%;
 text-align: center;
 transform: translate(-50%, -50%);
 padding: 2vw 4vw;
 background-color: rgba(0, 0, 0, 0.521);
 border: 0.1px solid #ffffffa0;
 border-radius: 4px;
 color: #ffffff;
 font-size: 1.1vw;
 cursor: pointer;
} 

.altContainer:hover .altButton{
 background-color: rgba(255, 255, 255, 0.542);
 border: 0.1px solid #000046;
 color: #000;
}

.sellWarp {
 display: flex;
 justify-content: center;
 font-size: 30px;
 padding: 30px;
 width: auto;
 height: 100px;
 background-color: #ffffff;
}

.bestSell {
 display: flex;
 justify-content: center;
 align-items: center;
}

.itemsWarp {
 display: flex;
 justify-content: space-between;
 padding: 100px;
 width: auto;
 height: 450px;
 overflow: hidden;
}

.T1 {
 font-size: 16px;
 padding-right: 15%;
}

.T2 {
 font-size: 19px;
 font-weight: bold;   
}

.item1 > a > img {
 width: 307px;
 height: 400px;
}

.item2 > a > img {
 width: 307px;
 height: 400px; 
}

.item3 > a > img {
 width: 307px;
 height: 400px; 
}

.item4 > a > img {
 width: 307px;
 height: 400px; 
}