*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
   }   
   
   /* header */ 
   .ContentWraper {
    align-items:normal;
    width: 100%;
    height: 139vh;
    background-color:rgb(255, 255, 255) ;  
      
   }
   
   .container{
       display: flex;
       justify-content: space-between;
       background: #ffffff00;
   }
   .container .registration{
       display: none;
   }
   #check:checked ~.registration{
       display: block;
   }
   #check:checked~.login{
       display: none;
   }
   #check{
       display: none;
   }
   .container {
       padding: 50px;
   }
   
   .form{
       padding: 5%;
       margin-bottom: 30px;
   
   }
   
   .form >h1 {
       padding-bottom: 3%;
   }
   
   .form >h4 {
       padding-bottom: 3%;
   }
   
   .form input{
       height: 60px;
       width: 100%;
       padding: 0.15px;
       font-size: 17px;
       margin-bottom: 1.3rem;
       border: none;
       border-bottom: 1px solid #000000;
   }
   .form input:focus{
       outline: none;
   }
   
.button{
   justify-content: center;
   display: flex;
   color: #000000;
   background-color: #ffffff;
   padding: 10px;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 1px;
   margin-top: 10px;
   border: 1px solid #000000;
   text-decoration: none;
       
}
.button:hover{
   background-color: #5d5d5d;
   color: #ffffff;
   border: solid #5d5d5d;
}